

/* CONTENEDOR DE BOTONES DESAYUNO Y ALMUERZO */
.containerButtonsMenu{
    width: 100%;
    justify-content: space-around;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

