.cardMenu{
    width: 120px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
}

.cardMenu:hover{
    background-color: #FD7D00;
}

.imgMenu{
    margin: 0px;
    width: 100px;
}

.name{
    margin: 0px;
    font-size: 10px;
    color: #232323;
}

.price{
    margin: 5px;
    font-size: 12px;
    color: #0061BF;
}