.client{
	display: flex;
	
}


.titleClient{
 
    margin-top: 8px;
    margin-right: 7px;
    margin-left: 10px;
	
}
.inputClient{
    margin-left: 8px;
    margin-top: 4px;
    height: 34px;
    width: 145px;
    font-family: 'Roboto';
    border-radius: 5px;
    border-color: #B22222;
    border-style: solid;
	
}
.mesa{
	margin-left: 2px;
    height: 34px;
    width: 47px;
    font-family: 'Roboto';
    border-radius: 5px;
    border-color: #B22222;
    border-style: solid;
    background-color: #B22222;
    margin-left: 1rem;
    margin-top: 4px;
}