.App-header {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FD7D00;
 
}
.App{
  min-height: 100vh;
  margin: 40px;
}
.App-link {
  color: #B22222;
}

* {
  list-style: none;
}
.btnMenu{
border : black solid 1px;
width: 150px;
height: 150px;
}


/* Div total izquierdo */
.takingOrder {
  width: 50%;
  height: 768px;
  display: flex;
  flex-direction: column;
}

/* Div del nombre y mesa */
.clientID {
  width: 100%;
  height: 3em;
  display: flex;
}

.menuDiv {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

/* Div del menú  */
.menu {
  width: 50%;
  height: 30em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  box-sizing: content-box;
}
.itemsMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0.75em 0 0.75em ;
  border-bottom: 2px solid;
}
img{width: 50%}
/* Div del total de la cuenta */
.total {
  width: 20%;
  height: 30em;
  background-color: #2a2d34;
  margin: 1em;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  border-radius: 10px;
  justify-content: space-between;
  padding-top: 1em;
  
}

/* Div total derecho */
.orderStatus {
  width: 30%;
  height: 20em;
  background-color: #B22222;
  display: flex;
  justify-content: right;
  flex-direction: column;
  border-radius: 10px;
}

